<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Game Night</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="${self.desc()}">
    <meta name="keywords" content="${self.keywords()}">
    <meta name="author" content="">

    <!-- Le styles -->
    
    ${self.include_css()}

    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le fav and touch icons -->
    <!--<link rel="shortcut icon" href="/ico/favicon.ico">-->
    <!--<link rel="apple-touch-icon-precomposed" sizes="144x144" href="../assets/ico/apple-touch-icon-144-precomposed.png">-->
    <!--<link rel="apple-touch-icon-precomposed" sizes="114x114" href="../assets/ico/apple-touch-icon-114-precomposed.png">-->
    <!--<link rel="apple-touch-icon-precomposed" sizes="72x72" href="../assets/ico/apple-touch-icon-72-precomposed.png">-->
    <!--<link rel="apple-touch-icon-precomposed" href="../assets/ico/apple-touch-icon-57-precomposed.png">-->
  </head>

  <body>
    <nav class="navbar navbar-default" role="navigation">
      <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#nav-bar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/">Board Game Night</a>
        </div>
    
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="nav-bar-collapse">
          <ul class="nav navbar-nav">
            <li><a href="/events">Events</a></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Account <b class="caret"></b></a>
              <ul class="dropdown-menu">
                %if user:
                    <li><p class="navbar-text">${user.nickname()}</p></li>
                    <li class="divider"></li>
                    <li><a href="/profile">My Profile</a></li>
                    <li><a href="${log_inout_url}">Logout</a></li>
                %else:
                    <li><a href="${log_inout_url}">Login</a></li>
                %endif
              </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div class="container">
    %if errors:
      %for error in errors:
        <div class="alert alert-danger alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Oh snap!</strong> ${error}
        </div>
      %endfor
    %endif

    %if warnings:
      %for warning in warnings:
        <div class="alert alert-warning alert-dismissable">
          <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
          <strong>Watchout!</strong> ${warning}
        </div>
      %endfor
    %endif

	${self.body()}
    </div> <!-- /container -->

   
    <!-- inherited template should define their own include_js to include JS they need -->
    ${self.include_js()}
    <footer class="footer">
    <div class="container">
    </div>
    </footer>
  </body>
</html>

<%def name="include_css()">
    <link href="/static/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
</%def>
<%def name="include_js()">
    <script src="//cdnjs.cloudflare.com/ajax/libs/modernizr/2.7.1/modernizr.min.js"></script>
    <script src="//code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="/static/bootstrap/js/bootstrap.min.js"></script>
</%def>
<%def name="desc()">
</%def>
<%def name="keywords()">
</%def>
