
<%inherit file="base.html" />

<h1>New Event</h1>



<form action="/new-event" method="post" role="form" class="form">

    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" class="form-control" >
    </div>


    <div class="form-group">
        <label for="event-date">Date</label>
        <input data-provide="datepicker" class="datepicker form-control" name="event-date">
    </div>

    <br>
    <button type="submit" class="btn btn-large btn-primary">Submit</button>
</form>

<%def name="include_css()">
    <link href="/static/datepicker/css/datepicker3.css" rel="stylesheet">
</%def>

<%def name="include_js()">
    <script src="/static/datepicker/js/bootstrap-datepicker.js"></script>
    <script src="/static/js/events.js"></script>
</%def>